.SubmitableCard {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;

  .HeaderButton {
    padding-bottom: 8px;
  }

  .Content {
    display: flex;
    flex-direction: column;
  }

  .Buttons {
    display: flex;
    padding-top: 16px;
    justify-content: flex-end;
  }
}